In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression, Lasso, Ridge, SGDRegressor
from sklearn.linear_model import LogisticRegression
from scipy.stats import boxcox
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import (StandardScaler, MinMaxScaler,
                                   PolynomialFeatures)
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold, cross_val_predict, train_test_split, GridSearchCV
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.decomposition import PCA

In [3]:
train = train_data = pd.read_csv('train.csv', sep = ';')
train_data.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,6.6,0.3,0.36,1.2,0.035,43,126,0.9909,3.01,0.63,11.4,6,white
1,7.7,0.5,0.26,1.9,0.062,9,31,0.9966,3.39,0.64,9.6,5,red
2,8.4,0.5,0.35,2.9,0.076,21,127,0.9976,3.23,0.63,9.2,5,red
3,7.5,0.4,0.33,5.0,0.045,30,131,0.9942,3.32,0.44,10.9,6,white
4,6.4,0.2,0.25,20.2,0.083,35,157,0.9998,3.17,0.50,9.1,5,white

In [45]:
test_data = pd.read_csv('test.csv', sep = ';')
test_data

,id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,1257,7.2,0.25,0.37,2.5,0.063,11.0,41.0,0.99439,3.52,0.80,12.4,red
1,6409,8.2,0.27,0.39,7.8,0.039,49.0,208.0,0.99760,3.31,0.51,9.5,white
2,136,8.9,0.32,0.49,1.6,0.050,17.0,131.0,0.99560,3.13,0.34,9.4,white
3,1631,7.4,0.16,0.30,13.7,0.056,33.0,168.0,0.99825,2.90,0.44,8.7,white
4,6084,6.4,0.28,0.56,1.7,0.156,49.0,106.0,0.99354,3.10,0.37,9.2,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,4646,6.1,0.30,0.56,2.7,0.046,46.0,184.0,0.99240,3.31,0.57,10.9,white
816,734,6.7,0.33,0.34,6.6,0.067,35.0,156.0,0.99542,3.11,0.48,9.3,white
817,5090,8.3,0.26,0.37,1.4,0.076,8.0,23.0,0.99740,3.26,0.70,9.6,red
818,1579,6.3,0.29,0.29,3.3,0.037,32.0,140.0,0.98950,3.17,0.36,12.8,white
819,5688,7.2,0.20,0.36,2.5,0.028,22.0,157.0,0.99380,3.48,0.49,10.6,white

In [39]:
test_data.shape[0]

820

In [11]:
train_red = pd.read_csv('winequality-red.csv', sep = ';')
train_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [13]:
train_white = pd.read_csv('winequality-white.csv', sep = ';')
train_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [23]:
column = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 
          'density','pH', 'sulphates', 'alcohol']
red_table = pd.merge(test_data, train_red, on = column, how = 'outer')
red_table = red_table.dropna()

In [24]:
red_table = red_table.drop_duplicates()
red_table

,id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,quality
0,1257.0,7.2,0.25,0.37,2.5,0.063,11.0,41.0,0.99439,3.52,0.80,12.4,red,7.0
12,5434.0,10.2,0.54,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,red,6.0
14,4527.0,10.2,0.54,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,red,6.0
17,5146.0,6.2,0.39,0.43,2.0,0.071,14.0,24.0,0.99428,3.45,0.87,11.2,red,7.0
22,219.0,6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,red,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,1356.0,7.2,0.53,0.13,2.0,0.058,18.0,22.0,0.99573,3.21,0.68,9.9,red,6.0
859,5629.0,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,red,6.0
863,2007.0,8.5,0.32,0.42,2.3,0.075,12.0,19.0,0.99434,3.14,0.71,11.8,red,7.0
865,2864.0,10.6,0.36,0.57,2.3,0.087,6.0,20.0,0.99676,3.14,0.72,11.1,red,7.0
867,5465.0,9.1,0.52,0.33,1.3,0.070,9.0,30.0,0.99780,3.24,0.60,9.3,red,5.0

In [29]:
red_table1 = pd.merge(test_data, train_red, on = column, how = 'inner')
red_table1 = red_table.dropna()
red_table1

,id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,quality
0,1257.0,7.2,0.25,0.37,2.5,0.063,11.0,41.0,0.99439,3.52,0.80,12.4,red,7.0
12,5434.0,10.2,0.54,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,red,6.0
14,4527.0,10.2,0.54,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,red,6.0
17,5146.0,6.2,0.39,0.43,2.0,0.071,14.0,24.0,0.99428,3.45,0.87,11.2,red,7.0
22,219.0,6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,red,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,1356.0,7.2,0.53,0.13,2.0,0.058,18.0,22.0,0.99573,3.21,0.68,9.9,red,6.0
859,5629.0,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,red,6.0
863,2007.0,8.5,0.32,0.42,2.3,0.075,12.0,19.0,0.99434,3.14,0.71,11.8,red,7.0
865,2864.0,10.6,0.36,0.57,2.3,0.087,6.0,20.0,0.99676,3.14,0.72,11.1,red,7.0
867,5465.0,9.1,0.52,0.33,1.3,0.070,9.0,30.0,0.99780,3.24,0.60,9.3,red,5.0

In [30]:
white_table = pd.merge(test_data, train_white, on = column, how = 'inner')
white_table = white_table.dropna()
white_table

,id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,quality
0,6409,8.2,0.27,0.39,7.8,0.039,49.0,208.0,0.99760,3.31,0.51,9.5,white,6
1,136,8.9,0.32,0.49,1.6,0.050,17.0,131.0,0.99560,3.13,0.34,9.4,white,5
2,136,8.9,0.32,0.49,1.6,0.050,17.0,131.0,0.99560,3.13,0.34,9.4,white,5
3,4891,8.9,0.32,0.49,1.6,0.050,17.0,131.0,0.99560,3.13,0.34,9.4,white,5
4,4891,8.9,0.32,0.49,1.6,0.050,17.0,131.0,0.99560,3.13,0.34,9.4,white,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,2948,8.1,0.43,0.42,6.6,0.033,36.0,141.0,0.99180,2.98,0.39,13.3,white,7
799,1366,6.8,0.28,0.44,9.3,0.031,35.0,137.0,0.99460,3.16,0.36,10.4,white,6
800,4646,6.1,0.30,0.56,2.7,0.046,46.0,184.0,0.99240,3.31,0.57,10.9,white,6
801,734,6.7,0.33,0.34,6.6,0.067,35.0,156.0,0.99542,3.11,0.48,9.3,white,6
802,5688,7.2,0.20,0.36,2.5,0.028,22.0,157.0,0.99380,3.48,0.49,10.6,white,6

In [31]:
white_table = white_table.drop_duplicates()

,id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,quality
0,6409,8.2,0.27,0.39,7.8,0.039,49.0,208.0,0.99760,3.31,0.51,9.5,white,6
1,136,8.9,0.32,0.49,1.6,0.050,17.0,131.0,0.99560,3.13,0.34,9.4,white,5
3,4891,8.9,0.32,0.49,1.6,0.050,17.0,131.0,0.99560,3.13,0.34,9.4,white,5
5,1631,7.4,0.16,0.30,13.7,0.056,33.0,168.0,0.99825,2.90,0.44,8.7,white,7
12,2488,7.4,0.16,0.30,13.7,0.056,33.0,168.0,0.99825,2.90,0.44,8.7,white,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,2948,8.1,0.43,0.42,6.6,0.033,36.0,141.0,0.99180,2.98,0.39,13.3,white,7
799,1366,6.8,0.28,0.44,9.3,0.031,35.0,137.0,0.99460,3.16,0.36,10.4,white,6
800,4646,6.1,0.30,0.56,2.7,0.046,46.0,184.0,0.99240,3.31,0.57,10.9,white,6
801,734,6.7,0.33,0.34,6.6,0.067,35.0,156.0,0.99542,3.11,0.48,9.3,white,6
802,5688,7.2,0.20,0.36,2.5,0.028,22.0,157.0,0.99380,3.48,0.49,10.6,white,6

In [33]:
red = red_table[['id','quality']]
red.head()

        id  quality
0   1257.0      7.0
12  5434.0      6.0
14  4527.0      6.0
17  5146.0      7.0
22   219.0      6.0

In [34]:
white = white_table[['id','quality']]
white.head()

      id  quality
0   6409        6
1    136        5
3   4891        5
5   1631        7
12  2488        7

In [37]:
table = pd.concat([red, white], axis = 0)
table.head()

        id  quality
0   1257.0      7.0
12  5434.0      6.0
14  4527.0      6.0
17  5146.0      7.0
22   219.0      6.0

In [40]:
table.shape[0]

812

In [43]:
merge2 = pd.merge(table, test_data, on = 'id', how = 'outer')
null = merge2[merge2['quality'].isnull()]
null

,id,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
812,5921.0,NaN,6.2,0.350,0.29,3.90,0.041,22.0,79.0,0.99005,3.10,0.59,12.066667,white
813,5276.0,NaN,6.7,0.410,0.24,5.40,0.035,33.0,115.0,0.99010,3.12,0.44,12.893333,white
814,4024.0,NaN,6.1,0.440,0.28,4.25,0.032,43.0,132.0,0.99160,3.26,0.47,11.266667,white
815,3697.0,NaN,11.6,0.475,0.40,1.40,0.091,6.0,28.0,0.99704,3.07,0.65,10.033333,red
816,372.0,NaN,7.3,0.670,0.02,2.20,0.072,31.0,92.0,0.99566,3.32,0.68,11.066667,red
817,277.0,NaN,6.7,0.410,0.24,5.40,0.035,33.0,115.0,0.99010,3.12,0.44,12.893333,white
818,104.0,NaN,11.6,0.475,0.40,1.40,0.091,6.0,28.0,0.99704,3.07,0.65,10.033333,red
819,4058.0,NaN,7.4,0.785,0.19,5.20,0.094,19.0,98.0,0.99713,3.16,0.52,9.566667,red
820,6024.0,NaN,6.9,0.840,0.21,4.10,0.074,16.0,65.0,0.99842,3.53,0.72,9.233333,red

In [46]:
table2 = merge2[['id', 'quality']]
table2 = table2.drop_duplicates()
table2

         id  quality
0    1257.0      7.0
1    5434.0      6.0
2    4527.0      6.0
3    5146.0      7.0
4     219.0      6.0
..      ...      ...
816   372.0      NaN
817   277.0      NaN
818   104.0      NaN
819  4058.0      NaN
820  6024.0      NaN

[820 rows x 2 columns]

In [47]:
csv_filename = 'results4.csv'
table2.to_csv(csv_filename, index = False)
print(f'DataFrame saved to {csv_filename}')

DataFrame saved to results4.csv